body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('https://s21.ax1x.com/2025/03/28/pErs4Ag.jpg');
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    width: 49%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 0;
    opacity: 0;
    transform: scale(0.5);
    animation: popIn 1s ease-out forwards;
    box-sizing: border-box;
    padding: 10px;
    position: relative; /* 为伪元素提供定位上下文 */
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.0; /* 设置背景图片的透明度 */
    z-index: -1; /* 确保背景图片在内容下方 */
}

.box.one::before {
    background-image: url('https://s21.ax1x.com/2025/03/28/pErsJpR.png');
}

.box.two::before {
    background-image: url('https://s21.ax1x.com/2025/03/28/pErsd0O.png');
}

.box.three::before {
    background-image: url('https://s21.ax1x.com/2025/03/28/pErsIhj.png');
}

.box.four::before {
    background-image: url('https://s21.ax1x.com/2025/03/28/pErs5NQ.png');
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.text{
    text-align: center;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.box:nth-child(1) {
    animation-delay: 0s;
}

.box:nth-child(2) {
    animation-delay: 0.3s;
}

.box:nth-child(3) {
    animation-delay: 0.6s;
}

.box:nth-child(4) {
    animation-delay: 0.9s;
}

@media (max-width: 768px) {
    .box {
        width: 100%;
    }
}