body {
    background-color: #f4f4f9; /* 添加背景颜色 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 更改字体样式 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#connectionMessage {
    color: #555; /* 更改文字颜色 */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* 添加文字阴影 */
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    -webkit-animation: rotate 0.3s linear infinite;
    -moz-animation: rotate 0.3s linear infinite;
    -ms-animation: rotate 0.3s linear infinite;
    -o-animation: rotate 0.3s linear infinite;
    animation: rotate 0.3s linear infinite;
}

.loading{
    text-align: center;
    font-size: 24px;
}

.server{
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
    fill: #fff;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}